{% extends 'layout.html' %}

{% block title %}
    Products of Category {{category.name}}
{% endblock %}

{% block content %}

<h1 class="display-1">
    Category {{category.name}}
</h1>
<div class="heading">
    <h2 class="text-muted">
        Products:
    </h2>
    <a href="{{url_for('add_product', category_id=category.id)}}" class="btn btn-success">
        <i class="fas fa-plus    "></i>
        Add
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Manufacture Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in category.products %}
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.man_date}}</td>
            <td>
                <a href="{{url_for('edit_product', id=product.id)}}" class="btn btn-primary">
                    <i class="fas fa-edit    "></i>
                    Edit
                </a>
                <a href="{{url_for('delete_product', id=product.id)}}" class="btn btn-danger">
                    <i class="fas fa-trash    "></i>
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock %}

{% block style %}
    <style>
        .heading{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    </style>
{% endblock %}