{% extends 'layout.html' %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block content %}

<h1 class="display-1">Admin Dashboard</h1>
<a href="{{url_for('add_category')}}" class="btn btn-success">
    <i class="fas fa-plus    "></i>
    Add
</a>

<h2 class="display-2">Categories:</h2>

<table class="table">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>
                <a href="{{url_for('show_category', id=category.id)}}" class="btn btn-primary">
                    <i class="fas fa-search    "></i>
                    Show
                </a>
                <a href="{{url_for('edit_category', id=category.id)}}" class="btn btn-primary">
                    <i class="fas fa-edit    "></i>
                    Edit
                </a>
                <a href="{{url_for('delete_category', id=category.id)}}" class="btn btn-danger">
                    <i class="fas fa-trash    "></i>
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock %}
