{% extends 'layout.html' %}

{% block title %}
    Profile Page
{% endblock %}


{% block content %}
    <div class="heading">
        <h1 class="display-1">
            Hello
            <span class="text-muted">@{{user.username}}</span>
        </h1>
        <div class="profile-pic">
            <img src="https://api.dicebear.com/6.x/lorelei/svg?seed={{user.username}}"  width=100 alt="">
        </div>
    </div>

    <!-- form to change password and username -->

    <form action="" method="post" class="form">
        <div class="form-group">
            <label for="username" class="form-label">Username:</label>
            <input type="text" 
            name="username" 
            id="username" 
            value="{{user.username}}"
            class="form-control" 
            required>
        </div>
        <div class="form-group">
            <label for="cpassword" class="form-label">Current Password</label>
            <input type="password" name="cpassword" id="cpassword" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">New Password:</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" value="{{user.name}}" class="form-control">
        </div>
        <div class="buttons d-flex justify-content-center align-items-center">
            <div class="form-group m-3">
                <input type="submit" value="Update" class="btn btn-primary">
            </div>
            <a href="{{url_for('logout')}}" class="btn btn-outline-danger">Logout</a>
        </div>
    </form>

{% endblock %}

{% block style %}

<style>
    .heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .profile-pic{
        width: 100px;
        height: 100px;
        border: 3px solid black;
        border-radius: 50%;
        overflow: hidden;
    }
</style>
    
{% endblock %}